* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'whitney', 'sans-serif';
}

.nav-container {
    padding: 10px;
}

.nav-container > nav {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav > div, nav > ul {
    padding: 5px;
    flex-grow: 1;
}

.header-logo {
}

.header-link {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.link-item {
    margin: 0 10px;
}

.header-login {
    text-align: right;
}

.header-bottom {
    padding: 30px 10px;
}

.hd-bt-container {
    height: 250px;
    max-width: 600px;
    margin: auto;
}

.section-container {
    max-width: 800px;
    margin: auto;
    display: flex;
    padding: 30px 10px;
}

.section-container > div {
    height: 300px;
}

.img-container {
    width: 60%;
}

.txt-container {
    width: 40%;
}

.section-container2 {
    max-width: 800px;
    margin: auto;
    padding: 30px 10px;
}

.bottom-container {
    height: 450px;
}




/* debug class per layout */

.debug header .nav-container {
    background-color: #ADD8E6;
}

.debug nav div, .debug nav ul {
    background-color: #DAA520;
    border: 1.5px dashed black;
}

.debug header .header-bottom {
    background-color: #00008B;
}

.debug .header-bottom .hd-bt-container {
    background-color: #EE82EE;
}

.debug .section-container .img-container {
    background-color: #1E90FF;
}

.debug .section-container .txt-container {
    background-color: #FFC0CB;
}

.debug main section:nth-child(even) {
    background-color: #D3D3D3;
}

.debug .bottom-container {
    background-color: #228B22;
}